$primarycolor: #047aed;
$secondarycolor: #1c3fa8;
$darkcolor: #002240;
$lightcolor: #f4f4f4;
$successcolor: #5cb85c;
$errorcolor: #d9534f;
$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayish-Blue: hsl(220, 14%, 96%);
$VeryLight-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);
$yellowcolor: #ecdd78;
$raisinblack: #272932;
$citrine: #ead637;
$wiite: #ffff;
// $lightshadow: 0 5px 15px rgba(0, 0, 0, 0.1);

$font-xs: 0.875;
$font-sm: 1.125rem; //14px
$font-med: 1.125rem;
$font-lrg: 1.875rem; //18px
$font-xl: 3.25rem;
